<div class="my-profile-container">
    <div class="row">
        <div class="pic">
            <h3 class="name">Sandeep Kumar Patel</h3>
            <img class="profile-image" src="http://www.gravatar.com/avatar/4205261332ff131e971b48db31dcb528.png" alt="profile image" />
        </div>
    </div>
    <div class="row">
        <div class="footer">
            <a ng-href='{{ professional.social.twitter }}' class='symbol' title='&#xe286;'></a>
            <a ng-href='{{ professional.social.facebook }}' class='symbol' title='&#xe227;'></a>
            <a ng-href='{{ professional.social.linkedin }}' class='symbol' title='&#xe252;'></a>
            <a ng-href='{{ professional.social.googleplus }}' class='symbol' title='&#xe239;'></a>
        </div>
    </div>
    <div class="row">
        <div class="display">
            <div class="detailProfessional" ng-show="selected">
                <p class="aboutme text">
                    {{ professional.aboutme }}
                </p>
                <div class="section">
                    <div class="divider">
                        <h4>Years of Experience</h4>
                        <span class="text">{{professional.years}}</span>
                        <h4>Job Roles</h4>
                        <span class="text" ng-repeat="role in professional.roles">
                            <em ng-if="!first"> </em> {{role}}
                        </span>
                        <h4>Languages Known</h4>
                        <span class="text" ng-repeat="language in professional.languages">
                            <em ng-if="!first"> </em>{{language}}
                        </span>
                    </div>
                    <div class="divider">
                        <h4>Web Technologies</h4>
                        <span class="text" ng-repeat="webdev in professional.webdevelopment">
                            <em ng-if="!first"> </em>{{webdev}}
                        </span>
                        <h4> Tools</h4>
                        <span class="text" ng-repeat="tool in professional.tools">
                            <em ng-if="!first"> </em>{{tool}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="detailPersonal" ng-show="!selected">
                <div class="section">
                    <div class="divider">
                        <h4>Full Name </h4>
                        <span class="text">{{personal.name}}</span>
                        <h4>Spouse Name </h4>
                        <span class="text">{{personal.spouse}}</span>
                        <h4>Father Name </h4>
                        <span class="text">{{personal.father}}</span>
                        <h4>Mother Name </h4>
                        <span class="text">{{personal.mother}}</span>
                        <h4>Blood Group </h4>
                        <span class="text">{{personal.bloodGroup}}</span>
                        <h4>Height </h4>
                        <span class="text">{{personal.height}}</span>
                    </div>
                    <div class="divider">
                        <h4>Weight </h4>
                        <span class="text">{{personal.weight}}</span>
                        <h4>Chest </h4>
                        <span class="text">{{personal.chest}}</span>
                        <h4>Address </h4>
                        <span class="text">{{personal.address}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="about">
            <button class="btn"
                    ng-class="{ 'selected': selected }"
                    ng-model="professional"
                    ng-click="getDetail($event)"
                    ng-disabled="selected">
                Professional
            </button>
            <button class="btn"
                    ng-class="{ 'selected': !selected }"
                    ng-model="personal"
                    ng-click="getDetail($event)"
                    ng-disabled="!selected">
                Personal
            </button>
        </div>
    </div>
</div>